
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          CadCarro até porque carros são muito mais dahora que aviões!
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <ion-card class="welcome-card">
    <img src="https://fotos.jornaldocarro.estadao.com.br/uploads/2018/08/06162802/f87ef106-ferrari-f50-for-sale-3-1160x653.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>1995</ion-card-subtitle>
      <ion-card-title class="text">Ferrari F50</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p id="para1">que beleza</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/36/2006-03-03_Motorshow_Geneva_012.JPG" alt="" />
      <ion-card-header>
        <ion-card-subtitle>1988</ion-card-subtitle>
        <ion-card-title class="text">Lancia Delta Integrale Rally</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p id="para1">vrum vrum!</p>
      </ion-card-content>
    </ion-card>
</ion-content>
