ion-label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;
}

ion-item p{
    color: red;
    margin-right: 1.2em;
}

form{
    margin-right: 20cm;
}

.botao{
    width: 40%;
    margin: auto;
    margin-top: 30%;
    margin-left: 5%;
}

.botaocancel{
    width: 40%;
    margin: auto;
    margin-top: 30%;
    margin-left: 10%;

}