<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    cadProfissional
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>*</p><ion-label>Nome</ion-label>
    <ion-input type="text" placeholder="Digita seu nome ai babaca"></ion-input>
  </ion-item>

  <ion-item>
    <p>*</p><ion-label>Email</ion-label>
    <ion-input type="email" placeholder="Passa o seu email ai babacula"></ion-input>
  </ion-item>

  <ion-item>
    <p>*</p><ion-label>Endereço</ion-label>
    <ion-input type="text" placeholder="Digita seu Endereço logo po"></ion-input>
  </ion-item>

  <ion-item>
    <p>*</p><ion-label>Senha</ion-label>
    <ion-input type="password" placeholder="Digita sua senha seu animal de tetas" min="5" maxlenght="5"></ion-input>
  </ion-item>

  <ion-button class="botao" (click)="enviar()" color="success">Cadastrar</ion-button>
  <ion-button class="botaocancel" routerLink="/home"  color="success">Cancelar</ion-button>
  
</ion-content>
